.vs
IFdataGen/build/
IFdataGen/obj/
IFdataGen/IFdataGen
IFdataGen/out/build
IFdataGen/bin_signals/
IFdataGen/*.bin
IFdataGen/*.LS3W
IFdataGen/*.wave
IFdataGen/*.ini
IFdataGen/*_PVT*
IFdataGen/*_pvt.nmea
IFdataGen/pvt.dat_*
IFdataGen/*.log
IFdataGen/GSDR*.??O
IFdataGen/GSDR*.??P
IFdataGen/GSDR*.??N
IFdataGen/gps_*.xml
